//
//  Created for schulcloud-mobile-ios under GPL-3.0 license.
//  Copyright © HPI. All rights reserved.
//

#include "../../Pods/Target Support Files/Pods-iOS-fileprovider/Pods-iOS-fileprovider.schulcloud-debug.xcconfig"
#include "Schulcloud-Common.xcconfig"
#include "../Debug.xcconfig"

PRODUCT_NAME = schulcloud
PRODUCT_MODULE_NAME = ios_fileprovider
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)$(IDENTIFIER_SUFFIX).fileprovider
CODE_SIGN_ENTITLEMENTS = ios/Branding/schulcloud/ios-fileprovider.entitlements

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Dev
