//
//  Created for schulcloud-mobile-ios under GPL-3.0 license.
//  Copyright © HPI. All rights reserved.
//

GCC_OPTIMIZATION_LEVEL = 0
SWIFT_COMPILATION_MODE = singlefile
SWIFT_OPTIMIZATION_LEVEL = -Onone
ENABLE_NS_ASSERTIONS = YES

OTHER_SWIFT_FLAGS = $(inherited) -DDEBUG "-D" "COCOAPODS"

IDENTIFIER_SUFFIX = .debug
