//
//  Created for schulcloud-mobile-ios under GPL-3.0 license.
//  Copyright © HPI. All rights reserved.
//

#include "../Pods/Target Support Files/Pods-schulcloud/Pods-schulcloud.debug.xcconfig"
#include "Base.xcconfig"

PRODUCT_NAME = schulcloud
PRODUCT_BUNDLE_IDENTIFIER = org.schulcloud.debug
CODE_SIGN_ENTITLEMENTS = schulcloud/schulcloud.entitlements
