//
//  n21-Common.xcconfig
//  schulcloud
//
//  Created by Florian Morel on 24.09.18.
//  Copyright © 2018 Hasso-Plattner-Institut. All rights reserved.
//

BASE_BUNDLE_IDENTIFIER = cloud.niedersachsen
APP_GROUP_IDENTIFIER = group.cloud.niedersachsen
DISPLAY_NAME = Niedersachsen-Cloud

KEYCHAIN_GROUP = $(AppIdentifierPrefix)$(BASE_BUNDLE_IDENTIFIER)$(IDENTIFIER_SUFFIX)
