//
//  Created for schulcloud-mobile-ios under GPL-3.0 license.
//  Copyright © HPI. All rights reserved.
//

#include "../../Pods/Target Support Files/Pods-iOS/Pods-iOS.n21-debug.xcconfig"
#include "n21-Common.xcconfig"
#include "../Debug.xcconfig"

PRODUCT_NAME = n21
PRODUCT_MODULE_NAME = iOS
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_BUNDLE_IDENTIFIER)$(IDENTIFIER_SUFFIX)
CODE_SIGN_ENTITLEMENTS = ios/Branding/n21/ios.entitlements

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Dev
