//
//  Created for schulcloud-mobile-ios under GPL-3.0 license.
//  Copyright © HPI. All rights reserved.
//

#include "../../Pods/Target Support Files/Pods-iOS/Pods-iOS.n21-release.xcconfig"
#include "../Release.xcconfig"

PRODUCT_NAME = n21
DISPLAY_NAME = Niedersachsen-Cloud
PRODUCT_MODULE_NAME = iOS
PRODUCT_BUNDLE_IDENTIFIER = cloud.niedersachsen
CODE_SIGN_ENTITLEMENTS = ios/Branding/n21/ios.entitlements

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
